spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          # Alterar essa chave em prod, exemplo apenas para desenvolvimento
          secret-key: "Tj1E-AbULqQy-YJioSkDefRonxhKz0x3MqlUoRObwe8="
          public-key-location:application:
      name: api

  h2:
    console:
      enabled: true
      path: /h2-console

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  datasource:
    url: jdbc:h2:mem:undercontroll-db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;NON_KEYWORDS=USER,ORDER;DATABASE_TO_LOWER=TRUE;CASE_INSENSITIVE_IDENTIFIERS=TRUE
    driver-class-name: org.h2.Driver
    username: root
    password: root

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        globally_quoted_identifiers: true

firebase:
  config:
    path: firebase-service-account.json

logging:
  level:
    com.undercontroll.api.config.CacheLoggingAspect: DEBUG

server:
  error:
    include-binding-errors: always
    include-message: always

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    enable:
      jvm: true
    distribution:
      sla:
        http:
          server:
            requests: 50ms, 100ms, 200ms, 300ms, 500ms, 1s
    tags:
      application: undercontroll-backend
  prometheus:
    metrics:
      export:
        enabled: true
