name: SonarCloud analysis

on:
  push:
    branches: [ "main" ]

permissions:
  pull-requests: read

jobs:
  Analysis:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '21'

      - name: Build projeto
        run: mvn clean install -DskipTests

      - name: Análise com SonarCloud
        uses: SonarSource/sonarcloud-github-action@v2.2.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=undercontroll-inc_api
            -Dsonar.organization=undercontroll-inc
            -Dsonar.sources=src
            -Dsonar.java.binaries=target/classes
